<%= simple_form_for [@itri_record] do |f| %>


  <div class="group">
    <!--<%= f.input :program_id %>-->

    <%= f.input :owner_id, :collection => get_record_owner_collection %>
    if the athelete is not in the list, press <%= link_to "here", itri_records_atheletes_path%> to add athelete.
    <%= f.input :swim_item_id, :collection => get_swim_item_collection,:selected =>1%>
    <%= f.input :distance_id, :collection => get_distance_collection,:selected =>4%>
    <%= f.input :contest_id, :collection => get_contest_collection.drop(1), :selected=>3 %>
    <%= f.input :minutes %>
    <%= f.input :seconds %>
    <%= f.input :year %>
  </div>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

<% end %>
