<div class="group">
  <%= link_to("New record", new_record_path, class: "btn btn-primary pull-right") %>
</div>
<table class="table table-hover">
<thead>
  <tr>
    <td>id</td>
    <td>item</td>
    <td>distance</td>
    <td>property</td>
    <td>minutes</td>
    <td>seconds</td>
    <td>uploader(debug)</td>
    <td>record owner</td>
  </tr>
</thead>
  <% @records.each do |record| %>
<tr>
  <td><%= record.id  %></td>
  <td><%= program_id_to_ascii_txt(record.program_id)  %></td>
  <td><%= record.distance  %></td>
  <td><%= property_id_to_ascii_txt(record.property_id)  %></td>
  <td><%= record.minutes  %></td>
  <td><%= record.seconds  %></td>
  <td><%= uploader_to_ascii_txt(record.user_id)  %></td>
  <td><%= record.owner_id  %></td>
</tr>

  <% end %>
</table>
