<div class="group">
  <%= link_to("New record", new_record_path, class: "btn btn-primary pull-right") %>
</div>
<table class="table table-hover">
<thead>
<tr>
<td>item/distance</td>
<% @swim_distances.each do |swim_distance|%>
<td><%=   swim_distance.distance %> </td>
<%end %>
</thead>
<% @swim_items.each do |swim_item| %>
<tr>
  <td><%= swim_item.name %></td>
<% @swim_distances.each do |swim_distance| %>
<td>
  <% filter_record = Record.where(swim_distance:swim_distance.id).where(swim_item:swim_item.id).last%>
  <% if filter_record %>
  <%= filter_record.minutes.to_s << '"'<< filter_record.seconds.to_s%>
  <% else %>
  N/A
  <%end %>
</td>


<% end %>
</tr>
<% end %>
</table>

<%= scatter_chart Record.pluck(:id, :minutes)%>

<%= content_tag "div", id: "records", data: {records: Record.limit(2)} do %>
  Loading products...
<% end %>
