<div class="group">
  <%= link_to("records array", records_path, class: "btn btn-primary pull-right") %>
  <%= link_to("New record", new_record_path, class: "btn btn-primary pull-right") %>
</div>

<table class="table table-hover">
<thead>
  <tr>
    <td>item</td>
    <td>distance</td>
    <td>property</td>
    <td>time</td>
    <td>date(mm/dd/yy)</td>
  </tr>
</thead>
  <% @records.each do |record| %>
<tr>
  <td><%= record.swim_item.name  %></td>
  <td><%= record.swim_distance.distance %></td>
  <td><%= record.contest.name  %></td>
  <td><%= record.minutes.to_s<< '"'<<record.seconds.to_s %></td>
  <td><%= record.month.to_s<<'/'<<record.date.to_s<<'/'<<record.year.to_s %></td>
  <td>
  <%= link_to("Edit", edit_record_path(record),
                       class: "btn btn-default btn-xs")%>
  <%= link_to("Delete", record_path(record),
     class: "btn btn-default btn-xs ", method: :delete,
     data: { confirm: "Are you sure?" } )%>
  </td>
</tr>

  <% end %>


</table>
<% data=[] %>
<% id=@records.count %>
<% record_rawdata = @records.pluck(:year, :month, :date, :minutes, :seconds) %>
<% record_rawdata.each do |rawdata| %>
<% rawdata_date = rawdata[0].to_s << '-' << rawdata[1].to_s << '-' << rawdata[2].to_s%>
<% data << [rawdata_date, rawdata[3]*60+rawdata[4]] %>
<% id=id-1 %>
<% end %>
<%= line_chart data ,{library: {hAxis: {title: "date"}, vAxis: {title: "seconds"}}}%>
<%= content_tag "div", id: "records", data: {records: Record.limit(2)} do %>
  Loading products...
<% end %>
