<div class="group">
  <%= link_to("New record", new_admin_record_path, class: "btn btn-primary pull-right") %>
  <%= link_to("Import record", import_admin_records_path, class: "btn btn-primary pull-right") %>
</div>
<table class="table table-hover">
<thead>
  <tr>
    <td>id</td>
    <td>item</td>
    <td>distance</td>
    <td>property</td>
    <td>time</td>
    <td>user</td>
    <td>date(mm/dd/yy)</td>
  </tr>
</thead>
  <% @records.each do |record| %>
<tr>
  <td><%= record.id  %></td>
  <td><%= record.swim_item.name  %></td>
  <td><%= record.swim_distance.distance %></td>
  <td><%= record.contest.name  %></td>
  <td><%= record.minutes.to_s<< '"'<<record.seconds.to_s %></td>
  <td><%= record.author.name  %></td>
  <td><%= record.month.to_s<<'/'<<record.date.to_s<<'/'<<record.year.to_s %></td>

</tr>

  <% end %>
</table>
