<%= simple_form_for [:admin, @record] do |f| %>


  <div class="group">
<%= f.input :owner_id %>
    <!--
    <%= f.label("é …ç›®") %>
    <%= f.text_field :program_id %>
  -->
  <%= f.input :program_id %>
  </div>

  <div class="group">
<!--
    <%= f.label("è·é›¢") %>
    <%= f.text_area :distance %>
  -->
  <%= f.input :distance %>
  </div>

  <div class="group">
    <!--
    <%= f.label("æ€§è³ª") %>
    <%= f.text_field :property_id %>
  -->
  <%= f.input :property_id %>
  </div>

  <div class="group">
    <!--
    <%= f.label("åˆ†é˜") %>
    <%= f.text_field :minutes %>
  -->
  <%= f.input :minutes %>
  </div>

  <div class="group">
    <!--
    <%= f.label("ç§’æ•¸") %>
    <%= f.text_field :seconds %>
  -->
  <%= f.input :seconds %>
  </div>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

<% end %>
