<%= form_for [:admin, @record] do |f| %>

  <div class="group">
    <%= f.label("é …ç›®") %>
    <%= f.text_field :program_id %>
  </div>

  <div class="group">
    <%= f.label("è·é›¢") %>
    <%= f.text_area :distance %>
  </div>

  <div class="group">
    <%= f.label("æ€§è³ª") %>
    <%= f.text_field :property_id %>
  </div>

  <div class="group">
    <%= f.label("åˆ†é˜") %>
    <%= f.text_field :minutes %>
  </div>

  <div class="group">
    <%= f.label("ç§’æ•¸") %>
    <%= f.text_field :seconds %>
  </div>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

<% end %>
